.container{
    margin:auto;
    width:520px;
    height:510px;
    border:0;
    overflow: auto;
}

.guestbook_title{
    background-color: rgb(253, 242, 252);
    font-family: 'NeoDunggeunmo';
    font-size:17px;
    font-weight: 100px;
    padding:5px;
    margin:30px 0px;
    border:1px solid black;
}

.guestbook{
    background-color: rgb(253, 242, 252);
    display: flex;
    flex-direction: row;
    margin-bottom:60px;
    padding:20px;
}

.guestbook_img{
    flex: 0 0 9rem;
    height: 9rem;
    display: flex;
    background-size: cover; 
    align-items: center;
    justify-content: center;
}

.background{
    background-image: url("./images/배경.jpg");
}

.guestbook_text{
    flex:1;
    font-family: 'NeoDunggeunmo';
    font-size:15px;
    margin:auto;
    padding:20px;
    line-height: 18px;
}